<script>
  import '@picocss/pico/css/pico.conditional.violet.min.css'
  let { children } = $props();
</script>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<title>Tasneem Zahida: Dashboard</title>
{@render children?.()}
